<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>{% block title %}Планировщик{% endblock %}</title>
</head>
<body>
  <div class="page">
    {% with messages = get_flashed_messages(request) %}
      {% if messages %}
        <div class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 11;">
          {% for message in messages %}
                <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="d-flex">
                    <div class="toast-body">
                      <span>{{ message.message }}</span>
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="navbar-nav ms-auto justify-content-end">
            {# aria-current="page" #}
            <a class="nav-link" href="/">Главная</a>
            {% if user is defined %}
              <a class="nav-link" href="/logout">Выход</a>
              <a class="nav-link" href="#">{{ user.login }}</a>
            {% else %}
              <a class="nav-link" href="/register">Регистрация</a>
              <a class="nav-link" href="/login">Вход</a>
            {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
