{% extends "base.html" %}

{% block title %}Новая задача{% endblock %}

{% block content %}
<div class="row my-1">
  <h1>Новая задача</h1>
</div>
<div class="row my-1">
  <a href="/"><button type="button" class="btn btn-primary">Назад</button></a>
</div>
<div class="row">
  <form method="POST" action="/create">
    <div class="mb-3">
      <label for="jobName">Выберите задачу</label>
      {# TODO: перезагружать параметры джобы при смене #}
      <select class="form-select" name="name" id="jobName" required>
        {% for job in jobs %}
          <option value="{{ job.name }}">{{ job.display_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="description">Описание задачи</label>
      <input type="text" name="description" id="description" class="form-control">
    </div>
    <div class="js-job-params-container">

    </div>
    <div class="mb-3">
      <label for="nextRunTime">Время запуска</label>
      <input type="datetime-local" name="next_run_time" id="nextRunTime" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
  </form>
</div>
{% endblock %}

{% block javascript %}
<script>
// TODO: add preloader


const loadParams = async (jobName) => {
  const response = await fetch(`/job_params/${jobName}`);
  const params = await response.json();

  const paramsContainer = document.querySelector(".js-job-params-container");
  paramsContainer.innerHTML = "";

  params.forEach(param => {
    createControl(
      paramsContainer,
      param.display_name,
      param.type,
      param.name,
    );

    if (param.is_list && paramsContainer.querySelector(".addMore") === null) {
      const btn = document.createElement("button");
      btn.textContent = "Добавить еще"
      btn.classList.add("btn", "btn-link", "addMode", "pt-0", "ps-0");
      btn.setAttribute("type", "button");
      btn.onclick = (el, event) => {
        // destroy button itself
        paramsContainer.removeChild(btn);

        // create new control
        createControl(
          paramsContainer,
          param.display_name,
          param.type,
          param.name,
        );

        // append button to the end
        paramsContainer.appendChild(btn);
      }
      paramsContainer.appendChild(btn);
    }
  });
}

const createControl = (container, displayName, type, name) => {
  const inputContainer = document.createElement("div");
  inputContainer.classList.add("mb-3");

  const label = document.createElement("label");
  label.textContent = displayName;

  const input = document.createElement("input");
  input.classList.add("form-control");
  input.setAttribute("type", type);
  input.setAttribute("name", name);

  inputContainer.appendChild(label);
  inputContainer.appendChild(input);

  container.appendChild(inputContainer);
}

const jobNameElem = document.getElementById("jobName");

jobNameElem.addEventListener("change", (event) => loadParams(event.target.value));

window.addEventListener("load", () => loadParams(jobNameElem.value));
</script>
{% endblock %}
